<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chem4Word.Searcher.ChEBIPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Chem4Word.Searcher.ChEBIPlugin.Properties.Settings>
      <setting name="Chem4Word_Searcher_ChEBIPlugin_uk_ac_ebi_www_ChebiWebServiceService"
        serializeAs="String">
        <value>http://www.ebi.ac.uk:80/webservices/chebi/2.0/webservice</value>
      </setting>
    </Chem4Word.Searcher.ChEBIPlugin.Properties.Settings>
  </applicationSettings>
</configuration>