<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!--
    <sectionGroup name="chem4WordPlugIns">
      <section name="converters"
               type="Chem4Word.Model.Convertors.ConverterSectionHandler, Chem4Word.Model"
               allowLocation="true"
               allowDefinition="Everywhere" />
    </sectionGroup>
    -->
  </configSections>
</configuration>